<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016 Netflix, Inc.
  ~
  ~     This file is part of IMF Conversion Utility.
  ~
  ~     IMF Conversion Utility is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     IMF Conversion Utility is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with IMF Conversion Utility.  If not, see <http://www.gnu.org/licenses/>.
  -->

<Config xmlns="http://config.imfutility.netflix.com">

    <imp>C:\Projects\Netflix\Test\Content\Chimera50_FTR_C_EN_XG-NR_20_4K_20150622_OV</imp>
    <cpl>CPL_6f548f17-48c5-452a-94ea-9bb58c6c5b5b.xml</cpl>
    <workingDirectory>C:\Projects\Netflix\Test\Output</workingDirectory>

    <!--
        Path to external executables.
        May be used in both code and conversion.xml template operations.
     -->
    <externalTools>
        <tool id="ffmpeg">ffmpeg</tool>
        <tool id="ffprobe">ffprobe</tool>
        <tool id="bmx">raw2bmx</tool>
        <tool id="mxf2raw">mxf2raw</tool>
        <tool id="x264">x264-10b-r2694-3b70645</tool>
        <tool id="as-02-unwrap">as-02-unwrap</tool>
        <!--<tool id="java">C:\Program Files\Java\jre1.8.0_77\bin\java.exe</tool>-->
        <!--<tool id="ttml-to-stl">D:\DSR\Project\_Netflix\git\imf-conversion\ttml-to-stl\build\libs\ttml-to-stl.jar</tool>-->
        <!--<tool id="imf-validation">imfValidation path</tool>-->
    </externalTools>

    <!--
        Allows/disallows silent conversion to format destination parameters if the input doesn't match.
        Conversion is allowed by default (if not specified here explicitly)
     -->
    <conversionParameters>
        <video>
            <size>yes</size>
            <frameRate>yes</frameRate>
            <pixelFormat>yes</pixelFormat>
            <bitDepth>yes</bitDepth>
        </video>
        <audio>
            <sampleRate>yes</sampleRate>
            <bitsSample>yes</bitsSample>
        </audio>
    </conversionParameters>

    <cleanWorkingDir>true</cleanWorkingDir>
    <deleteTmpFilesOnExit>false</deleteTmpFilesOnExit>
    <deleteTmpFilesOnFail>false</deleteTmpFilesOnFail>

</Config>