<?xml version="1.0" encoding="UTF-8"?>
<Config xmlns="http://config.imf.netflix.com">


    <!--
        Path to external executables.
        May be used in both code and conversion.xml template operations.
     -->
    <externalTools>
        <tool id="ffmpeg">D:\DSR\Project\_Netflix\test\ffmpeg\bin\ffmpeg.exe</tool>
        <tool id="ffprobe">D:\DSR\Project\_Netflix\test\ffmpeg\bin\ffprobe.exe</tool>
        <tool id="bmx">D:\DSR\Project\_Netflix\test\bmx\raw2bmx.exe</tool>
        <tool id="mxf2raw">D:\DSR\Project\_Netflix\test\bmx\mxf2raw.exe</tool>
        <tool id="x264">D:\DSR\Project\_Netflix\test\x264\x264-10b.exe</tool>
        <tool id="ttmlToStl">ttmlToStl path</tool>
        <tool id="photon">photon path</tool>
    </externalTools>

    <!--
        Allows/disallows silent conversion to format destination parameters if the input doesn't match.
        Conversion is allowed by default (if not specified here explicitly)
     -->
    <conversionParameters>
        <video>
            <size>yes</size>
            <fps>no</fps>
            <pixelFormat>yes</pixelFormat>
            <bitDepth>yes</bitDepth>
        </video>
        <audio>
            <sampleRate>yes</sampleRate>
            <bitsSample>yes</bitsSample>
        </audio>
    </conversionParameters>

    <!--
        Optional path to alternative conversion.xml.
        If not specified, default conversion.xml is used.
    -->
    <conversionConfig>path to conversion.xml</conversionConfig>

    <workingDirectory>D:\DSR\G\Tmp\</workingDirectory>

</Config>